<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<?php echo hcss_url;?>common.css" />
	<script type="text/JavaScript" src='<?php echo hjs_url;?>jquery-1.7.2.min.js'></script>
	<script type="text/JavaScript" src='<?php echo hjs_url;?>common.js'></script>